<!-- _includes/button.html -->

<button class="{{ include.class | default: 'sm' }}">
  <a href="{{ include.url | default: post.url }}"
    >{{ include.text | default: 'READ MORE' }}</a
  >
  {% include icons/arrow-right.svg %}
</button>

<style>
  button {
    background-color: var(--bs-light);
    border: 2px solid var(--bs-dark);
    padding: 0;
  }
  button.sm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 32px;
  }

  button a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 32px;
    width: 32px;
    border: 2px solid var(--bs-dark);
  }
  .icon svg {
    display: flex;
    height: 24px;
    width: 24px;
  }
  button .icon {
    position: relative;
    right: -2px;
  }
</style>
