<div class='footer'>
  <div class="inner">
    
    <div class="fluid-container text-center">
      
      <div class="row">
        <div class="col-sm-4">
          <div class="logo">
            <a href='https://dhlab.epfl.ch/' target='_blank' title='Digital Humanities Laboratory (DHLAB) Ecole Polytechnique Federale de Lausanne, Switzerland'><img src="{{ '/assets/images/EPFL-logo-GREY.png' | relative_url }}"></a></div>
          
        </div>
        <div class="col-sm-4">
          <a href='http://www.cl.uzh.ch/en.html' target='_blank' title='Institute for Computational Linguistics Zurich University, Switzerland'>
            <img src="{{ '/assets/images/UZH-logo.png' | relative_url }}"></a>
          </a>
        </div>
        <div class="col-sm-4">
          <a href='https://www.c2dh.uni.lu' target='_blank' title='Centre for Contemporary and Digital History (C2DH) Luxembourg University, Luxembourg.'>
            <img src="{{ '/assets/images/C2DH-logo.png' | relative_url }}"></a>
          </a>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm-6 text-right">
          <a href='//github.com/impresso'>github <b>/impresso</b></a>
        </div>
        <div class="col-sm-6 text-left">
          <a href='//twitter.com/impressoproject'>twitter <b>@impressoproject</b></a>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-sm-12">
          <img src="{{ '/assets/images/snf-rgb-e-logo.png' | relative_url }}">
        </div>
      </div>
    </div>

    
    
  </div>
</div>