<div class="Footer m-3 m-lg-5">
  <div class="container-fluid w-100 g-0">
    <div class="row g-0">
      <div class="col-12">
        <hr/>
        <h3 class="w-100 mb-0 mt-4">Partners</h3>
      </div>
      {% assign core_partners = site.partners | where: "category","core-partner" | sort: "ordering" %}
      {% for partner in core_partners %}
      <div class="col-md-6">
        {% include partnerItem.html %}
      </div>
      {% endfor %}
    </div>

    {% if page.show_associated_partners %}
    <!-- associated partners -->
    <div class="row mt-2">
      <div class="col-12">
        <hr/>
        <h3 class="w-100 mb-0 mt-4">Associated Partners</h3>
      </div>
      {% assign associated_partners = site.partners | where: "category","associated-partner"| sort: "ordering"  %}
      {% for partner in associated_partners %}
      <!-- {{partner.title}} -->
      <div class="col-md-6">
        <div class="my-3">
          {{ partner.title}}
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- end of associated partners -->
    {% endif %}

    <!-- funding agencies -->
    <div class="row mt-2">
      <div class="col-12 ">
        <hr/>
        <h3 class="w-100 mb-0 mt-4">Funding agencies</h3>
      </div>
      {% assign funding = site.partners | where: "category","funding"  %}
      {% for partner in funding %}
      <div class="col-md-6">
        {% include partnerItem.html %}
      </div>
      {% endfor %}
    </div>
  </div>  
  <div class="copyright">Copyright © Université du Luxembourg 2023. All rights reserved</div>
</div>


  <style>
    .Footer {
      --footer-logo-size: 200;
    }
    
    .Footer .logo {
      display: flex;
      align-items: center;
      max-width: 600px;
      margin: 1rem 1.5rem 1rem 0rem;
      flex-wrap: wrap;
      flex-grow: 1;
      min-height: 4rem;
    }
    .Footer .logo > p {
      margin: 0rem 0rem 1rem 0rem;
      max-width: 360px;
      font-size: 0.8rem;
      opacity: 0.7;
    }
    .Footer .logo > a {
      margin: 0rem 1.5rem 1rem 0rem ;
    }
    .footer .footer-section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 50%;
    }
    .footer .footer-wrapper {
      display: flex;
      flex-direction: column;
    }
    .partners, .associated-partners {
      display: flex;
      flex-wrap: wrap;
    }
    .copyright {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      font-size: 0.7rem;
      margin-top: 2rem;
    }
 

    .footer svg {
      max-height: 50px;
    }

  
    @media (max-width: 800px) {
      .Footer {
        --footer-logo-size: 60
      }
      .Footer .footer-wrapper {
        flex-direction: column;
      }
      .Footer .footer-section {
        width: 100%;
      }
      .Footer .logo > a {
        margin: 0rem 1rem 0rem 0rem ;
        max-width: 120px;
      }
      .Footer .logo {
        margin: 0.5rem 1rem 0.5rem 0rem;
      }
      .Footer .logo > p {
        max-width: 300px;
        font-size: 0.7rem;
        padding: 0.5rem 0;
        margin: 0rem;
        line-height: 0.8rem;
      }
    }
  </style>
</div>
