{% assign nav = site.data.navigation.languages[lang] | default:
site.data.navigation.languages.en %} {% assign url_parts = page.url | split: '/'
%} {% assign parentUrl = page.parentUrl %} {% unless parentUrl %} {% assign
parentUrl = url_parts | slice: 0, 2 | join: "/" | append: "/" %} {% endunless %}

<aside
  class="Nav container-fluid h-100 position-fixed d-none d-md-block g-0"
  style="z-index: var(--z-index-aside)"
>
  <div class="row g-0 h-100">
    <div class="col-2 d-flex flex-column h-100 g-0">
      <ul class="nav flex-column flex-grow-1">
        <li
          class="nav-item squared position-relative"
          style="padding-top: 100%"
        >
          <a href="/" class="position-absolute start-0 mt-2 ms-2 top-0">
            <button type="button" class="btn btn-simple">
              <span class="icon-container">
                {% include icons/home-simple-door.html %}</span
              >
            </button>
          </a>
          <button
            type="button"
            class="position-absolute end-0 top-0 mt-2 me-2 btn btn-simple"
            id="Nav__darkModeToggler"
          >
            <span class="icon-container">
              {% include icons/dark-mode.html %}</span
            >
          </button>

          <div
            class="position-absolute top-0 start-0 end-0 bottom-0 d-flex align-items-center justify-content-center"
          >
            {% comment %} logo {% endcomment %}
            <a class="nav-link" href="{{site.baseurl}}/">
              <div>{% include logos/Impresso_logo.svg %}</div>
            </a>
          </div>
        </li>
        <!-- <li>{{ parentUrl }}</li> -->
        {% for item in nav.links %}
        <li
          class="nav-item ms-5 position-relative {% if item.links %} with-links {% endif %}{% if item.url == parentUrl %} force-open open active {% endif %}{% if item.url == page.url %} active {% endif %}"
        >
          <a class="nav-link small-caps" href="{{ item.url }}"
            ><span>{{ item.title }}</span></a
          >
          {% if item.links %}
          <button
            class="btn btn-transparent Nav__dropdownToggler position-absolute"
          >
            {% include icons/plus.html %}
          </button>
          <ul>
            {% for subitem in item.links %}
            <li
              class="nav-item {% if subitem.url == page.url %} active {% endif %} {% if item.url == parentUrl %} open {% endif %}"
            >
              <a class="nav-link" href="{{ subitem.url }}"
                ><span>{{ subitem.title }}</span></a
              >
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <div class="side-menu-footer d-flex">
        <ul class="d-flex w-100 justify-content-between">
          <li class="nav-item ms-2">
            <a
              class="nav-link"
              href="mailto:info@impresso-project.ch"
              title="email"
              target="_blank"
            >
              <button type="button" class="btn btn-simple" id="github">
                <span class="icon-container">
                  {% include icons/email.svg %}</span
                >
              </button>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              href="{{site.contacts.twitter.url}}"
              title="our twitter account"
              target="_blank"
            >
              <button type="button" class="btn btn-simple" id="github">
                <span class="icon-container x"> {% include icons/x.svg %}</span>
              </button>
            </a>
          </li>
          <li class="nav-item me-2">
            <a
              class="nav-link"
              href="{{site.contacts.github.url}}"
              title="our github account"
              target="_blank"
            >
              <button type="button" class="btn btn-simple" id="github">
                <span class="icon-container">
                  {% include icons/github.svg %}</span
                >
              </button>
            </a>
          </li>
        </ul>
      </div>

      <div class="d-grid mb-4 me-2 ms-2">
        <a
          id="chimpSignup"
          href="{{site.contacts.mailinglist.url}}"
          target="_blank"
          ><button type="button" class="btn btn-simple small-caps">
            Join our mailing list
          </button>
        </a>
      </div>
    </div>
  </div>
</aside>
<script>
  const navDarkModeToggler = document.querySelector("#Nav__darkModeToggler");
  // onclick, toggle dark mode
  navDarkModeToggler.addEventListener("click", () => {
    const html = document.querySelector("body");
    html.classList.toggle("dark");
    const isDark = html.classList.contains("dark");
    localStorage.setItem("darkMode", isDark);
  });

  // on click on the nav, open the <ul>
  const navDropdownTogglers = document.querySelectorAll(
    ".Nav__dropdownToggler"
  );

  let openedNavItem = null;

  function closeNavItem(item, ul) {
    item.classList.remove("open");
    ul.style.height = 0;
  }

  function openNavItem(item, ul) {
    item.classList.add("open");
    const hiddenHeight = ul.scrollHeight;
    ul.style.height = hiddenHeight + "px";
  }

  navDropdownTogglers.forEach((toggler) => {
    if (toggler.parentElement.classList.contains("open")) {
      openedNavItem = toggler.parentElement;
    }
    toggler.addEventListener("click", (e) => {
      const navItem = e.currentTarget.parentElement;
      const ul = e.currentTarget.nextElementSibling;
      const isOpen = navItem.classList.contains("open");
      console.debug("[navDropdownTogglers] isOpen:", isOpen);
      if (isOpen) {
        closeNavItem(navItem, ul);
      } else {
        if (openedNavItem && openedNavItem != navItem) {
          closeNavItem(openedNavItem, openedNavItem.querySelector("ul"));
        }
        openedNavItem = navItem;
        openNavItem(navItem, ul);
      }
    });
  });
</script>
