{% assign nav = site.data.navigation.languages[lang] | default:
site.data.navigation.languages.en %}
<aside class="Nav container-fluid g-0 h-100 position-fixed">
  <div class="row g-0 h-100">
    <div class="col-2 d-flex flex-column h-100">
      <ul class="nav flex-column flex-grow-1">
        <li
          class="nav-item squared position-relative"
          style="padding-top: 100%"
        >
          <a
            href="/"
            class="btn btn-transparent position-absolute start-0 top-0 p-2"
            style="z-index: 1"
          >
            {% include icons/home-simple-door.html %}
          </a>
          <button
            class="position-absolute end-0 top-0 p-2 btn btn-transparent"
            id="Nav__darkModeToggler"
            style="z-index: 1"
          >
            {% include icons/dark-mode.html %}
          </button>
          <div
            class="position-absolute top-0 start-0 end-0 bottom-0 d-flex align-items-center justify-content-center"
          >
            {% comment %} logo {% endcomment %}
            <a class="nav-link" href="{{site.baseurl}}/">
              <b class="serif">{% include logo.html %}</b>
              <div>media<br />monitoring<br />of the Past</div>
            </a>
          </div>
        </li>
        {% for item in nav.links %}
        <li
          class="nav-item ms-5 position-relative {% if item.links %} with-links {% endif %}{% if item.url == page.url %} active {% endif %}"
        >
          <a class="nav-link small-caps" href="{{ item.url }}"
            ><span>{{ item.title }}</span></a
          >
          {% if item.links %}
          <button
            class="btn btn-transparent Nav__dropdownToggler position-absolute"
          >
            {% include icons/plus.html %}
          </button>
          <ul>
            {% for subitem in item.links %}
            <a class="nav-link" href="{{ subitem.url }}"
              ><span>{{ subitem.title }}</span></a
            >
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}

        <li class="nav-item">
          <a
            class="nav-link"
            href="{{site.contacts.twitter.url}}"
            title="our twitter account"
            target="_blank"
            >social media
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{site.contacts.github.url}}"
            title="our github account"
            target="_blank"
            >github</a
          >
        </li>
      </ul>

      <div class="d-grid gap-2 p-2 border-top border-dark">
        <a
          class="btn btn-lg btn-transparent"
          id="chimpSignup"
          href="{{site.contacts.mailinglist.url}}"
          target="_blank"
          >Join our mailing list
        </a>
      </div>
    </div>
  </div>
</aside>
<script>
  const navDarkModeToggler = document.querySelector('#Nav__darkModeToggler')
  // onclick, toggle dark mode
  navDarkModeToggler.addEventListener('click', () => {
    const html = document.querySelector('body')
    html.classList.toggle('dark')
    const isDark = html.classList.contains('dark')
    localStorage.setItem('darkMode', isDark)
  })

  // on click on the nav, open the <ul>
  const navDropdownTogglers = document.querySelectorAll('.Nav__dropdownToggler')
  navDropdownTogglers.forEach((toggler) => {
    toggler.addEventListener('click', (e) => {
      const ul = e.currentTarget.nextElementSibling
      // if it has no open class, calculate the hidden height.
      if (!ul.classList.contains('open')) {
        const hiddenHeight = ul.scrollHeight
        ul.style.height = hiddenHeight + 'px'
      } else {
        ul.style.height = 0
      }
      ul.classList.toggle('open')
    })
  })
</script>
<style>
  aside.Nav {
    z-index: 1;
    height: 100%;
    pointer-events: none;
  }

  aside.Nav .nav,
  aside.Nav button,
  aside.Nav a {
    pointer-events: auto;
  }
  aside.Nav .nav-item {
    position: relative;
  }
  aside.Nav .nav-item.active > .nav-link > span {
    /* background-color: var(--bs-primary); */
    position: relative;
    color: black;
  }
  aside.Nav .nav-item.active::after {
    background-color: var(--bs-dark);
    content: '';
    position: absolute;
    top: 24px;
    bottom: 8px;
    left: -12px;
    width: 2px;
    opacity: 0.3;
  }
  aside.Nav .nav-item.active > .nav-link > span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    right: -4px;
    background-color: var(--bs-primary);
    z-index: -1;
  }

  aside.Nav .Nav__dropdownToggler {
    border: none;
    opacity: 0.5;
    will-change: opacity;
    background: transparent;
    color: var(--bs-primary);
    font-size: 1.5rem;
    left: -35px;
    top: -10px;
  }
  aside.Nav .Nav__dropdownToggler:hover {
    opacity: 1;
  }

  aside.Nav li ul {
    will-change: height;
    transition: height 0.2s ease-out;
    overflow: hidden;
    height: 0;
  }
  aside.Nav li.active ul {
    height: auto;
  }
</style>
