<!-- special layout for single item in a people collection. Use assign to define people group.-->


<div class='item' >
  <div class='anchor' id='{{person.slug}}'></div>
  <table class='table'>
    <tr>
      <th class='picture' >
        <div class='cover' style='background-image:url({% if person.picture %}{{person.picture | relative_url }}{%else %}http://www.vintageavatars.com/images/Abstract%20Art/100x100/abstractart{{forloop.index}}.jpg{% endif %})'></div>
      </th>
      <th>
        {% if person.group %}
        <div class='tag'>{% assign key=person.group %}{% include t.html%}</div>
        {% endif %}
        <h2>
          <span>{{person.title}}</span>
        </h2>
        <h3 class='subheading'>{{person.subheading}}</h3>
      </th>
    </tr>
  </table>
  <h3 class='subheading'>{{person.subheading}}</h3>
  {{person.content}}
</div>
