<div class="post mb-4 px-3 px-lg-5">
  <div>
    <div class="image-date-title">
      {% if post.thumbnail %}{% assign thumbnail=post.thumbnail %}{% else %}{%
      assign thumbnail=post.figure[0] %}{% endif %} {% if thumbnail != nil %}
      <div class="image-mask mt-3">
        <img class='blogThumb border-top border-dark' src='{{ '/assets/images/'
        | relative_url }}{{thumbnail.src}}' alt='{{ thumbnail.caption }}' />
      </div>
      {% endif %}

      <div class="date-title mt-3">
        <div class="incipit">
          <span>{{post.date | date: "%a, %d.%m %Y"}}</span>
          <hr />
        </div>
        <h3 class="mt-2"><a href="{{post.url}}">{{post.title}}</a></h3>
        <div class="anchor" id="{{post.slug}}"></div>
      </div>
    </div>
    <div class=" mt-lg-4">{{post.excerpt}}</div>
  </div>
  <div >
    <a href="{{post.url}}" class="btn post__more">
      <span class="small-caps fw-bold">read more</span>
      <span class="ms-2 post__moreIcon">
        {% include icons/arrow-right.svg %}</span
      >
    </a>
  </div>
</div>
