<div class='item respect-margin' >
  <div class='anchor' id='{{post.slug}}'></div>
  <div class="blogExcerpt">
    <h2><a href='{{post.url}}'>{{post.title}}</a></h2>  
    <div class='incipit'>{{post.date | date: "%a, %d.%m %Y"}}&nbsp;&mdash;&nbsp;</div>
    {{post.excerpt}}
    <a href="{{post.url}}">read more</a>
  </div>
  
  {% if post.thumbnail assign thumbnail=post.thumbnail else assign thumbnail=post.figure[0] %}{% endif %}
  
  {% if thumbnail != nil %}
  <img class='blogThumb' src='{{ '/assets/images/' | relative_url }}{{thumbnail.src}}' alt='{{ thumbnail.caption }}' />
  {% endif %}
  
</div>
