<script type='text/javascript' src="{{ '/assets/js/timeline.js' | relative_url }}"></script>
<script type='text/javascript'>
  var impressoTimeline = new ImpressoTimeline({
    data: {
      start_date: "{{site.data.timeline.start_date}}",
      end_date: "{{site.data.timeline.end_date}}",
      values: [
        {% for value in site.data.timeline.values %}
          {% assign valueid = forloop.index %}
          {
            start_date: "{{value.start_date}}",
            end_date: "{{value.end_date}}",
            type: "{{value.type}}",
            content: "{{value.content}}",
            label: "{{value.label}}",
            items: [
              {% for item in value.items %}
                {
                  _id: "{{valueid}}.{{ forloop.index }}",
                  type: "{{item.type}}",
                  content: "{{item.content}}",
                  permalink: "{{item.permalink}}",
                  author: "{{item.author}}"
                }
              {% endfor %}
            ]
          },
        {% endfor %}
      ]
    }
  });

  _window
    .on("resize", impressoTimeline.render);

</script>