#timeline{
  position: fixed;
  top: 85px;
  left: 0;
  width: 100px;
  bottom: 10%;
  margin-left: 0px;

  .top{
    top: 0;
  }
  
  .bottom{
    bottom: 0;
  }

  .left{
    left: 0;
  }

  .right{
    right: 0;
  }

  .edge.date{
    font-size: 11px;
    line-height: 18px;
    color: $almost-black;
    position: absolute;
    text-align: center;
    width: 55px;

    &.top{
      top: -50px;
    }

    &.bottom{
      bottom: -50px;
    }
  }

  // transition: transform .3s ease-in-out;
  // transform: translateX(-10px);

  // &:hover{
  //   transform: translateX(0px);
  // }

  .lines {
    position:absolute;
    top:0;
    bottom:0;
    width: 50px;
    transition: background-color .3s ease-in-out;
    background-color: white;

    .line{
      width: 5px;
      position:absolute;
      height: 1px;
      top: auto;
      left: auto;

      &.milestone.full.left{
        left: 0;
      }
      &.milestone.full.right{
        right: 0;
      }

      &.milestone{
        height: 2px;
        width: 13px;

        &.left{
          left: 5px;
        }

        &.right{
          right: 5px;
        }

        &.full{
          width: 15px
        }

        &.next{
          width: 42px;
          right: -25px;
        }
      }
    }

    .next-big-event{
      position: absolute;
      left: 35px;
      width: 70px;
      font-size: 11px;
      margin-top: -25px;
      line-height: 25px;
      white-space: nowrap;

      label{
        font-family: "Libre Caslon Italic"
      }

      .date{
        color: $almost-black;
      }
    }

    &.active{
      background-color: $yellow;
      transform: translateX(0px);
      

      #timeline-now .pulse{
        background-color: #fff;
      }

    }
  }

  #v-axe{
    position: absolute;
    pointer-events: none;
    top: -1px;
    bottom: -1px;
    width: 1px;
    background-color: $almost-black;
    left: 25px;
    
    .point{
      position:absolute;
      background-color: $almost-black;
      border-radius: 5px;
      width: 5px;
      height: 5px;
      left: -2px;
    }
    
  }

  .date{
    font-size: 11px;
    color: $almost-black;
  }

}


.line{
  position: absolute;
  height: 1px;
  width: 100px;
  left: 70px;
  background: $almost-black;
}

#timeline-now{
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;

  > .point{
    position: absolute;
    height: 5px;
    border: 1px solid #380022;
    width: 5px;
    left: 22px;
    border-radius: 6px;
    top: -2px;
    z-index: 1;
  }

  

  > .pulse{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #FAF54F;
    border-radius: 25px;
    left: 13px;
    top: -11px;
    z-index: 0;
  }
    
}

#timeline-pointer{
  position: absolute;
  pointer-events: none;
  height: 1px;
  background-color: $almost-black;
  width: 100px;
  top: 0;
  left:0;
  transition: opacity .3s ease-in-out;
  opacity: 0;

  &.active{
    opacity: 1
  }

  > span{
        font-size: 11px;
    line-height: 18px;
    display: block;
    position: absolute;
    right: -50px;
    /* width: 100px; */
    background: $yellow;
    color: $almost-black;
    white-space: nowrap;
    overflow: auto;
    height: 30px;
    margin-top: -15px;
    text-align: left;
    padding: 0px 9px;
    line-height: 30px;
    border-radius: 3px;
  }
}

#timeline-next-event{
  position: absolute;
  top: -25px;
  left: 35px;

  label{
    
    font-size: 11px;
    font-family: "Libre Caslon Italic";
    white-space: nowrap;
  }


}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(0.25, 0.25, 0.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}