<div class="icon">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24px"
    height="24px"
    fill="none"
    stroke-width="2.4"
    viewBox="0 0 24 24"
    color="var(--bs-dark)"
  >
    <path
      stroke="var(--bs-dark)"
      stroke-width="2.4"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"
    ></path>
    <path
      stroke="var(--bs-dark)"
      stroke-width="2.4"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 22c-3.314 0-6-4.477-6-10S8.686 2 12 2"
    ></path>
  </svg>
</div>
