---
---

@import "fonts", "reset";

$black: #000000;
$almost-black: #380022;
$dark-grey: #51484d;
$medium-gray: #696467;
$light-gray: #a9a0a6;
$almost-white: #ffebf7;
$white: #ffffff;
$yellow: #FAF54F;
$pale-cyan: #AAB3D4;
$red: #cb220d;

$line-height: 24px;
$font-size: 16px;

$sidebar-width: 320px;

$contents-offset-left: $sidebar-width + 100;

@import "timeline";

html{
  height: 100%
}
body{
  background: #ffffff;
  font-family: "Libre Caslon Regular", serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $almost-black;
  height: 100%;
  background-image: -webkit-linear-gradient(left, #fff $contents-offset-left, #eeeced $contents-offset-left - 1, #eeeced 100%)
}

b, strong, h1, h2, h3, .bold{
  font-family: "Libre Caslon Bold";
  font-weight: normal;
}

i, em, .italic{
  font-family: "Libre Caslon Italic";
  font-weight: normal;
}


pre{
  padding:0;
}


#logo{
    height: 220px;
    margin-left: 17px;
    margin-top: 25px;
}






#left {
      width: 200px;
      float: left;
    }
    #right {
      margin-left: 200px;
      /* Change this to whatever the width of your left column is*/
    }
    .clear {
      clear: both;
    }

section{
  position: relative;  
  overflow: auto;
  min-height: 100px;
  color: $medium-gray;

  label{
    position: absolute;
    text-align: right;
    left: 0px;
    width: 60px;
    // font-size: $font-size+2;

    &.active > a{
      color: $almost-black;
      background: $yellow; 
      border-bottom: 1px solid transparent;
    }
  }



  .line{
    top: 12px;
  }


  article{

    h2{
      margin-bottom: 10px;
    }

    blockquote{
      color:$light-gray;
      position:relative;
      font-size: 12px;
      line-height: 20px;

      .date{
        font-size:11px;
        line-height: inherit;
        
        position: absolute;
        width: 60px;
        left: -70px;
        text-align: right;
      }
    }
  }
}





aside {
  
  
  

  section > ul {
    margin: 50px 70px;
    list-style-type: none;
  }

  section > ul li{
    list-style-type: none;
    margin: 10px 0;
  }

  section > ul > li > ul{
        margin-top: 25px;
  }


  a{
    color: $dark-grey;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
    border-bottom: 1px solid transparent;
  }

  a:hover{
    border-bottom: 1px solid $almost-black;
    color: $almost-black;
  }

  section li{
    text-transform: capitalize;
    
    &.active > a{
      background-color: $yellow;
      color: $almost-black;
      border-bottom: 1px solid transparent;
      &:hover{
        background-color: $yellow;
        border-bottom: 1px solid transparent;
      }
    }
  }


}

img.cover{
  width: 100%;
}

figure{
  margin: 20px 0 5px;
}

figcaption{
   font-family: "Lato";
    font-size: 11px;
    line-height: 18px;
    padding: 10px 20px;

}

.date{
  font-family: "Lato";
  text-transform: uppercase; 
  color: $light-gray;
}


.page{
  
  
  padding: 30px 0px 100px;

  .wrapper{
    padding: 0 50px;
  }
  h1{
    font-size: 28px;
    margin: 50px 0 100px;
  }

  p{
    margin-top: 15px;
    color: $dark-grey;

    a{
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 0.8em;
      text-transform: uppercase;
      color: $almost-black;
      // border-bottom: 1px solid $almost-black;
      text-decoration: none;
      background-color: $white;
      padding: 2px 3px;

      &:hover{
        background-color: $yellow;
        color: $almost-black;
      }
    }
  }
}

.page.index{
  h1{
    font-size: 50px;
    line-height: 70px;
    margin: 18px 0 20px;
  }

  .headline{
    font-family: "Lato", sans-serif;
    border-top: 1px solid $almost-black;
    border-bottom: 2px solid $almost-black;
    padding: 15px 0;
    
    > span{
      
    }
  }
}

.page.agenda{
  h1{ 
    margin-bottom: 30px;
  }
  .date{
    color: $almost-black;
    font-size: 12px;
  }
}

.container{
  
}

#main{
  width: $sidebar-width;
  margin-left: 100px;
  float: left;

  section{
    width: $sidebar-width - 50px;

    > ul{
      margin: 50px 0px 50px 70px;
    }
  }
}

#contents{
  margin-left: $sidebar-width + 100;
  
}


.category{
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  a{
    background-color: #ffffff;
    padding: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    /* color: #FAF54F; */
    line-height: 20px;
    display: inline-block;
    border-radius: 3px;
  }
}



