---
---

@import "fonts", "reset";

$black: #000000;
// $almost-black: #380022;
$almost-black: #151515;
$dark-grey: #51484d;
$medium-grey: #696467;
$light-grey: #a9a0a6;
$almost-white: #ffebf7;
$white: #ffffff;
$yellow: #FAF54F;
$pale-cyan: #AAB3D4;
$red: #cb220d;

$line-height: 24px;
$font-size: 16px;

$sidebar-width: 320px;

$contents-offset-left: $sidebar-width + 100;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

html{
  height: 100%
}
body{
  background: #ffffff;
  font-family: "Libre Caslon Regular", serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $almost-black;
  height: 100%;
  background-image: -webkit-linear-gradient(left, #fff $contents-offset-left, #eeeced $contents-offset-left - 1, #eeeced 100%)
}

b, strong, h1, h2, h3, .bold{
  font-family: "Libre Caslon Bold";
  font-weight: normal;
}

i, em, .italic{
  font-family: "Libre Caslon Italic";
  font-weight: normal;
}


pre{
  padding:0;
}


@import "includes/timeline", "includes/footer", "includes/plus", "layouts/page";



a#logo {
  &:hover{
    text-decoration: none;
    border-bottom-width: 0;
  }

  img{
    height: 180px;
    margin-left: 43px;
    margin-top: 40px;
  }
}






#left {
      width: 200px;
      float: left;
    }
    #right {
      margin-left: 200px;
      /* Change this to whatever the width of your left column is*/
    }
    .clear {
      clear: both;
    }

section{
  position: relative;  
  overflow: auto;
  min-height: 100px;
  color: $medium-grey;

  label{
    position: absolute;
    text-align: right;
    left: 0px;
    width: 60px;
    // font-size: $font-size+2;

    
  }



  .line{
    top: 12px;
  }


  article{

    h2{
      margin-bottom: 10px;
    }

    blockquote{
      color:$light-grey;
      position:relative;
      font-size: 12px;
      line-height: 20px;

      .date{
        font-size:11px;
        line-height: inherit;
        
        position: absolute;
        width: 60px;
        left: -70px;
        text-align: right;
      }
    }
  }
}

.card{
  background-color: transparent;
  border-color: transparent;
}



aside {
  // font-family: "Helvetica Neue", "Helvetica", sans-serif;
  // font-size: 13px;
  

  section > ul {
    margin: 50px 70px;
    list-style-type: none;
  }

  section > ul li{
    list-style-type: none;
    margin: 10px 0;
  }

  section > ul > li ul{
    padding: 0;

  }




  a{
    color: $dark-grey;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
    border-bottom: 1px solid transparent;
  }

  a:hover{
    text-decoration: none;
    border-bottom: 1px solid $almost-black;
    color: $almost-black;
  }

  section li{
    text-transform: capitalize;
    
    // &.active > a{
    //   background-color: $yellow;
    //   color: $almost-black;
    //   border-bottom: 1px solid transparent;
    //   &:hover{
    //     background-color: $yellow;
    //     border-bottom: 1px solid transparent;
    //   }
    // }
  }


  section .inner{
    margin-top: 40px;

    img{
      width: 100%
    }
  }

}


li.active > a{
  color: $almost-black;
  background: $yellow;
  border-bottom: 1px solid transparent;
}

img.cover{
  width: 100%;
}

figure{
  margin: 40px 15px 5px 0;
}

figcaption{
  font-family: "Lato";
  font-size: 15px;
  line-height: 18px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.date{
  font-family: "Lato";
  text-transform: uppercase; 
  color: $light-grey;
}






#main{
  width: $sidebar-width;
  margin-left: 100px;
  float: left;
  overflow: hidden;

  .inner{
    transition: transform .36s ease-in-out;
  }

  &.put-aside .inner{
    transform: translateX(350px);
  }
  section{
    width: $sidebar-width - 50px;

    > ul{
      margin: 50px 0px 50px 70px;
    }
  }

  #language-switcher{
    margin-top: 0;
    li {
      display: inline-block;
      margin-right: 10px;
      text-transform: none;
    }
  } 
}

#contents{
  margin-left: $sidebar-width + 100;
  
}


.category{
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  a{
    background-color: #ffffff;
    padding: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    /* color: #FAF54F; */
    line-height: 20px;
    display: inline-block;
    border-radius: 3px;
  }
}




.collapsible{
  position: relative;
  height: 0;
  overflow: hidden;

  @include transition(height .27s ease-in-out);

  ul{
    position: absolute;
    bottom: 0;
    
  }

  &.active{
    // border-bottom: 1px solid;
  }
  &.force-active{
    height: auto;

    ul{
      position: relative;
    }
  }
}

.collapsible-toggler{
  color: $dark-grey;
  &.force-active{
    color: $light-grey;
  }
}


