---
---

@import "fonts", "reset";

$black: #000000;
// $almost-black: #380022;
$body-background: #eeeced;
$almost-black: #151515;
$dark-grey: #51484d;
$medium-grey: #696467;
$light-grey: #a9a0a6;

$almost-white: #ffebf7;
$white: #ffffff;
$yellow: #FAF54F;
$pale-cyan: #AAB3D4;
$red: #cb220d;

$line-height: 24px;
$font-size: 14px;

$sidebar-width: 320px;

$contents-offset-left: $sidebar-width + 100;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

html{
  height: 100%
}
body{
  background: #ffffff;
  font-family: "Libre Caslon Regular", serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $almost-black;
  height: 100%;
  background-image: -webkit-linear-gradient(left, #fff 50px, #eeeced 50px - 1, #eeeced 100%)
}

b, strong, h1, h2, h3, .bold{
  font-family: "Libre Caslon Bold";
  font-weight: normal;
}

i, em, .italic{
  font-family: "Libre Caslon Italic";
  font-weight: normal;
}


pre{
  padding:0;
}


@import "includes/timeline", "includes/footer", "includes/plus", "layouts/page";



a#logo {
  &:hover{
    text-decoration: none;
    border-bottom-width: 0;
  }

  img{
    height: 180px;
    margin-left: 43px;
    margin-top: 40px;
  }
}



#mobile-header{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 50px;
  overflow: visible;
  background-color: #000;
  padding-left: 20px;
  z-index: 1001;
  font-family: 'Lato', sans-serif;
  

  @include transition(transform .36s ease-in-out);
  
  &.active{
    transform: translateY(400px);
  }

  > .inner{
    position: absolute;
    bottom: 50px;
    left:0px;
    right: 0px;
    color: $white;
    background-color: $almost-black;
    padding: 100px 50px 20px;
  }

  .collapsible-toggler {
    div{
      color: $light-grey;
    }
    .circle-plus{
      display: none;
    }
  }

  .collapsible{
    overflow: visible;
    height: auto;

    ul{
      position: static;
    }
  }

  ul li{
    text-transform: uppercase;
    margin-bottom: 5px;
    a{
      color: $almost-white;
    }
    &.active a{
      color: $black;
    }
    table{
      width: 150px;
      margin-top: 25px;
    }
  }
  h1{
    background-color: #FAF54F;
    line-height: 45px;
    padding-left: 30px;
  }

  img{
    height: 50px;
  }
}

#mobile-header-toggler{
  position: absolute;
  right: 10px;
  top: 8px;
  color: white;
  line-height: 30px;
  border: 1px solid;
  padding: 0 10px;
  border-radius: 30px;
}


#left {
      width: 200px;
      float: left;
    }
    #right {
      margin-left: 200px;
      /* Change this to whatever the width of your left column is*/
    }
    .clear {
      clear: both;
    }

section{
  position: relative;  
  overflow: auto;
  min-height: 100px;
  color: $medium-grey;

  label{
    position: absolute;
    text-align: right;
    left: 0px;
    width: 60px;
    // font-size: $font-size+2;

    
  }



  .line{
    top: 12px;
  }


  article{

    h2{
      margin-bottom: 10px;
    }

    blockquote{
      color:$light-grey;
      position:relative;
      font-size: 12px;
      line-height: 20px;

      .date{
        font-size:11px;
        line-height: inherit;
        
        position: absolute;
        width: 60px;
        left: -70px;
        text-align: right;
      }
    }
  }
}

.card{
  background-color: transparent;
  border-color: transparent;
}

.icon{
  font-size: 1.4em;
}

aside {
  // font-family: "Helvetica Neue", "Helvetica", sans-serif;
  // font-size: 13px;
  font-family: "Lato", sans-serif;
  font-size: 12px;

  section > ul {
    margin: 50px 70px;
    list-style-type: none;
  }

  section > ul li{
    list-style-type: none;
    margin: 10px 0;
  }

  section > ul > li ul{
    padding: 0;

  }


  table{
    width: 130px;
    margin-top: 30px;
    th{
      text-align: left;
      vertical-align: middle;
    }
  }

  a, .collapsible-toggler{
    color: $dark-grey;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
  }

  a:hover{
    text-decoration: none;
    border-bottom: 1px solid $almost-black;
    color: $almost-black;
  }

  // section li{
  //   text-transform: capitalize;
    
  //   // &.active > a{
  //   //   background-color: $yellow;
  //   //   color: $almost-black;
  //   //   border-bottom: 1px solid transparent;
  //   //   &:hover{
  //   //     background-color: $yellow;
  //   //     border-bottom: 1px solid transparent;
  //   //   }
  //   // }
  // }


  section .inner{
    margin-top: 40px;

    img{
      width: 100%
    }
  }

}


li.active > a{
  color: $almost-black;
  background: $yellow;
  border-bottom: 1px solid transparent;
}

img.cover{
  width: 100%;
}

figure{
  margin: 40px 15px 5px 0;
}

figcaption{
  font-family: "Lato";
  font-size: 15px;
  line-height: 24px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.date{
  font-family: "Lato";
  text-transform: uppercase; 
  color: $light-grey;
}






#main{
  width: $sidebar-width;
  position: static;
  margin-left: 100px;
  float: left;
  display: none;
  overflow: hidden;
    

  &.fixed{
    overflow: hidden;
    position: fixed;
    margin-left: 0;
    // bottom: 100px;
    // height: 500px;
    left: 100px;
    float: none;
  }

  .inner{
    transition: transform .36s ease-in-out;
  }

  &.put-aside .inner{
    transform: translateX(350px);
  }
  section{
    width: $sidebar-width - 50px;

    > ul{
      margin: 50px 0px 50px 70px;
    }
  }

  #language-switcher{
    margin-top: 30px;
    li {
      display: inline-block;
      margin-right: 10px;
      text-transform: none;
    }
  } 
}

#contents{
margin-left: 30px;

  
  
}



.category{
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  a{
    background-color: #ffffff;
    padding: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    /* color: #FAF54F; */
    line-height: 20px;
    display: inline-block;
    border-radius: 3px;
  }
}

body.below-floating {
  
  #timeline, #main.fixed {
    position: absolute;
    top: auto;
    bottom: 100px;
  }
}



#wrapper{
  position:relative;
}

@media(min-width:768px){
  body{
    background-image: -webkit-linear-gradient(left, #fff $contents-offset-left, #eeeced $contents-offset-left - 1, #eeeced 100%)
  }
  #mobile-header{
    display: none;
  }
  #main{
    display:block
  }
  #contents{
    margin-left: $sidebar-width + 100;
  }
}