---
---

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/assets/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('/assets/fonts/Satoshi-Variable.woff') format('woff'),
    url('/assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('/assets/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
    url('/assets/fonts/Satoshi-VariableItalic.woff') format('woff'),
    url('/assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

:root {
  --bs-font-sans-serif: 'Satoshi-Variable', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --bs-font-serif: 'Georgia', 'Times New Roman', serif;
  --bs-body-color-transparent: #21252999;
  --bs-font-sans-serif-italic: 'Satoshi-VariableItalic', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 5rem;
    line-height: 1.25em;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    &.text-muted {
      font-weight: 300;
      font-variation-settings: 'wght' 300;
    }
  }

  .h2,
  h2 {
    font-size: 5rem;
    line-height: 1.25em;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
  }
}
