.footer{
  clear:both;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: $medium-grey;
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;

  .inner{
    margin-left: 20px;
  margin-right: 20px;
    border-top: 1px solid $light-grey;
    
    .row{
      margin-top: 30px;

      
    }


  }

  .line{
    height: 1px;
    border-top: 1px solid $dark-grey;
    margin-top: 30px;
    margin-bottom: 30px;
    position: static;
    width: 100%;

    &.double{
      border-top: 2px solid $dark-grey;
    }
  }

  h3{
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 20px;
    color: $dark-grey;

  }
  ul{
    margin-top: 20px;
    li{
      padding: 10px 0;
    }
  }

  .logo{
    margin-bottom: 10px;

    &.smaller{
      margin-bottom: 25px;

      img {
        max-height: 50px;
      }
      p{
        color: $light-grey;
      }
    }
    a, a:hover{
      background: transparent;

    }

    p{
      margin-top: 10px;
    }
    img{
      max-height: 70px;
      max-width: 100%;
    }
  }

  a{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    color: $almost-black;
    // border-bottom: 1px solid $almost-black;
    text-decoration: none;
    background-color: $white;
    padding: 2px 3px;

    b{
      font-family:inherit;
      font-weight: bold;
    }
    &:hover{
      background-color: $yellow;
      color: $almost-black;
    }
  }
}


@media(min-width:768px){
  .footer .inner{
    margin-left: 100px;
    margin-right: 100px;
  }
}
