.footer{
  clear:both;
  

  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;

  .inner{
    margin-left: 100px;
  margin-right: 100px;

    .row{
      margin-top: 50px;
    }
  }

  ul{
    margin-top: 20px;
    li{
      padding: 10px 0;
    }
  }

  .logo{
    margin-bottom: 10px;
  }
}