.footer{
  clear:both;
  margin-left: 100px;
  background-color: $white;
  padding-top: 10px;
  padding-bottom: 50px;

  .inner{
    border-top: 1px solid $almost-black;
    margin-left: 70px;
  }

  ul{
    margin-top: 20px;
    li{
      padding: 10px 0;
    }
  }
}