.collapsible{
  position: relative;
  height: 0;
  overflow: hidden;

  @include transition(height .27s ease-in-out);

  ul{
    position: absolute;
    bottom: 0;

  }

  &.active{
    // border-bottom: 1px solid;
  }

  &.force-active{
    height: auto;

    ul{
      position: relative;
    }
  }
}

.collapsible-toggler{
  color: $dark-grey;
  cursor: pointer;
  text-transform: inherit !important;

  &:hover {
    color: $light-grey;
  }

  &.active{
    color: $light-grey;
    // cursor: n-resize;
  }
}


.collapsible-toggler{
  position:relative;

  .circle-plus {
    position: absolute;
    left: -25px;
    top: 0px;

    .vertical, .horizontal{
      @include transition(transform .27s ease-in-out, opacity .27s ease-in-out);
    }
  }

  &.active {
    .circle-plus .vertical{
      transform: rotate(90deg);
    }
    .circle-plus .horizontal{
      transform: rotate(90deg);
      opacity: 0;
    }
  }

  &.force-active .circle-plus{
    .vertical, .horizontal{
      background-color: $light-grey;
    }
  }
}

.circle-plus .circle {

  position: relative;
  width: 20px;
  height: 20px;
  background: transparent;
    // border-radius: 100%;
    // border: 2px solid $light-grey;
}
.circle-plus .circle .horizontal {
  position: absolute;
  background-color: $dark-grey;
  width: 9px;
  height: 1px;
  left: 50%;
  margin-left: -4px;
  top: 50%;
  margin-top: 0;
}
.circle-plus .circle .vertical {
  position: absolute;
  background-color: $dark-grey;

    width: 1px;
    height: 9px;
    left: 50%;
    margin-left: 0px;
    top: 50%;
    margin-top: -4px;
}
