@media(max-width:768px){
  .app-ribbon {
    display: none;
  }
}

.app-ribbon > a {
  position: fixed;
  top: 0em;
  right: 2em;
  transition: top 0.2s ease-in-out;
  width: 8em;
}

.app-ribbon > a:hover {
  top: -1.5em;
}
