#timeline{
  position: fixed;
  bottom: 100px;
  left: 0;
  width: 100px;
  height: 500px;
  margin-left: 0px;
  z-index: 1000;
  .top{
    top: 0;
  }
  
  .bottom{
    bottom: 0;
  }

  .left{
    left: 0;
  }

  .right{
    right: 0;
  }

  .edge.date{
    font-size: 11px;
    line-height: 18px;
    color: $almost-black;
    position: absolute;
    text-align: center;
    width: 50px;

    &.top{
      top: -50px;
    }

    &.bottom{
      bottom: -50px;
    }
  }

  // transition: transform .3s ease-in-out;
  // transform: translateX(-10px);

  // &:hover{
  //   transform: translateX(0px);
  // }

  .lines {
    position:absolute;
    top:0;
    bottom:0;
    width: 50px;
    transition: background-color .3s ease-in-out;
    background-color: white;

    .line{
      width: 12px;
      position:absolute;
      height: 1px;
      top: auto;
      left: auto;

      &.left{
        left: 9px;
      }

      &.right{
        right: 9px;
      }

      &.milestone.full.left{
        left: 0;
      }
      &.milestone.full.right{
        right: 0;
      }

      &.milestone{
        height: 2px;
        width: 13px;

        &.left{
          left: 5px;
        }

        &.right{
          right: 5px;
        }

        &.full{
          width: 15px
        }

        &.next{
          width: 42px;
          right: -25px;
        }
      }
    }

    .next-big-event{
      position: absolute;
      left: 35px;
      width: 70px;
      font-size: 11px;
      margin-top: -25px;
      line-height: 25px;
      white-space: nowrap;

      label{
        font-family: "Libre Caslon Italic"
      }

      .date{
        color: $almost-black;
      }
    }

    &.active{
      background-color: $yellow;
      transform: translateX(0px);
      

      #timeline-now .pulse{
        background-color: #fff;
      }

      

      

    }
  }

  &.active{
    #timeline-next-event{
      opacity: 0;
    }
    .lines .line.next{
      width: 13px;
      right: 5px;
    }

    #timeline-browser{
      pointer-events: auto;
      .inner{
        transform: translateX(0px)
      }
    }
  }
  #v-axe{
    position: absolute;
    pointer-events: none;
    top: -1px;
    bottom: -1px;
    width: 1px;
    background-color: $almost-black;
    left: 25px;
    
    .point{
      position:absolute;
      background-color: $almost-black;
      border-radius: 5px;
      width: 5px;
      height: 5px;
      left: -2px;
    }
    
  }

  .date{
    font-size: 11px;
    color: $almost-black;
  }

}


.line{
  position: absolute;
  height: 1px;
  width: 100px;
  left: 70px;
  background: $almost-black;
}


.attention-seeker{
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;

  > .point{
    position: absolute;
    height: 5px;
    border: 1px solid #380022;
    width: 5px;
    left: 22px;
    border-radius: 6px;
    top: -2px;
    z-index: 1;
  }

  

  > .pulse{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #FAF54F;
    border-radius: 25px;
    left: 13px;
    top: -11px;
    z-index: 0;
  }
    
}

#timeline-browser{
  position: absolute;
  left: 60px;
  width: 350px;
  top: -90px;
  bottom: -90px;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;

  .inner{
    position: absolute;
    top: 0px;
    left:0px;
    right: 0px;
    bottom: 0px;

    transition: transform .36s ease-in-out; 
    transform: translateX(-365px);
    background-color: $white;
    
    overflow: auto;
  }

  .info{
    margin: 70px 20px 0;
    border-top: 1px solid $almost-black;
    border-bottom: 2px solid $almost-black;

    
  }

  blockquote{
    margin: 5px 0 10px;
  }
  .close{
    position: absolute;
    right: 18px;
    top: 18px;
    width: 30px;
    height: 30px;
    border: 2px solid #51484d;
    color: #51484d;
    text-align: center;
    line-height: 26px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    &:hover{
      color: white;
      border-color: $almost-black;
      background-color: $almost-black; 
    }
  }



  .slide{
    margin: 0 20px;
    
    h1{
      padding: 10px 50px 10px 80px;
    }

    a{
      font-size: 13px;
      line-height: 20px;
      word-wrap: break-word;
    }
    blockquote{
      margin: 10px 0 5px;
      font-size: 13px;
      line-height: 20px;
    }
    
  }
}

#timeline-closest{
  transition: opacity .3s ease-in-out;
  pointer-events: none;
  opacity: 0;

  > .point{
    border: 1px solid transparent;
    background-color: $almost-black; 
    pointer-events: auto;
    cursor: pointer;
  }
  > .pulse {
    background-color: transparent;
    border: 1px solid $almost-black;
    width: 15px;
    height: 15px;
    left: 17px;
    top: -7px;
    animation-duration: 2.7s;
  }

  

  &.active{
    opacity: 1;
  }
}

#timeline-pointer{
  position: absolute;
  pointer-events: none;
  height: 1px;
  background-color: $almost-black;
  width: 100px;
  top: 0;
  left:0;
  transition: opacity .3s ease-in-out;
  opacity: 0;

  &.active{
    opacity: 1
  }

  > .item{
    background-color: $almost-black;
    color: $white;
    left: 70px;
    max-width: 300px;
    position: absolute;
    padding: 0px 9px;
    line-height: 30px;
    top: 20px;
    border-radius: 3px;
    pointer-events: none;
    label {
      font-family: "Libre Caslon Bold";
      font-size:12px;
      line-height: 21px;
      display: block;
      margin: 5px 0 10px;
    }
    .date{
      white-space: nowrap;
      color: $light-grey;
      border-bottom: 1px solid $light-grey;
    }

    .category{
      display: inline-block;
      background: $white;
      color: $almost-black;
      line-height: 18px;
      font-size: 10px;
      padding: 0 3px;
      margin-top: 0;
    }

    &.below-the-fold{
      top: auto;
      bottom: 20px;

      &.flipInX {
        transform-origin: bottom left;
      }
    }
  }

  > span{
        font-size: 11px;
    line-height: 18px;
    display: block;
    position: absolute;
    right: -50px;
    /* width: 100px; */
    background: $yellow;
    color: $almost-black;
    white-space: nowrap;
    overflow: auto;
    height: 30px;
    margin-top: -15px;
    text-align: left;
    padding: 0px 9px;
    line-height: 30px;
    border-radius: 3px;
  }
}

#timeline-next-event{
  position: absolute;
  top: -25px;
  left: 35px;
  opacity: 1;
  display: none;

  label{
    
    font-size: 11px;
    font-family: "Libre Caslon Italic";
    white-space: nowrap;
  }


}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(0.25, 0.25, 0.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}


@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  transform-origin: top left;
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@media(min-width:768px){
  #timeline-next-event{
    display: block;
  }
  #timeline-browser .inner{
    background: #eeeced;
  }
}
