$page-margin-right: 50px;

.page{
  
  
  padding: 30px 0px 100px;

  .wrapper{
    padding: 0 50px;
  }
  h1{
    font-size: 28px;
    margin: 50px 0 100px;
  }

  h2{
    font-size: 20px;
    margin: 50px 0 20px;
  }

  p{
    margin-top: 15px;
    color: $dark-grey;
    text-align: left;
    
  }
  a{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    color: $almost-black;
    // border-bottom: 1px solid $almost-black;
    text-decoration: none;
    background-color: $white;
    padding: 2px 3px;

    &:hover{
      background-color: $yellow;
      color: $almost-black;
    }
  }

  .table{
    h2{
      margin-top: 0;
      span{
        background-color: $white;
      }
    }
    h3{
      // font-family: "Lato", sans-serif;
      font-weight: normal;
    }
    th{
      min-height: 120px;
      vertical-align: middle;
    }

    div.cover{
      border-radius: 50%;
      height: 120px;
      width: 120px;
      box-shadow: 0px 0px 0px 2px $white;
    }
  }

  .item{
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $light-grey;
  }
}

div.cover{
  width: 100%;
  height: 100%;
  background-size: cover; 

}

.page{
  h1{
    font-size: 50px;
    line-height: 70px;
    margin-top: 18px;
    margin-bottom: 20px;
  }

  section{
    margin-bottom: 50px;
    border-bottom: 50px solid $white;
    &.last{
      border-bottom-width: 0;
      margin-bottom: 0;
    }
  }
  .headline{
    font-family: "Lato", sans-serif;
    border-top: 1px solid $almost-black;
    border-bottom: 2px solid $almost-black;
    padding: 15px 0;
    
    h2{
      font-size: 30px;
      margin: 5px 0 5px;
      line-height: 50px;
      background-color: $white;
    }

    img{
      width: 100%;
      max-width: 300px;
      margin-bottom: 10px;
      box-shadow: 0px 2px 8px fade-out($light-grey, .6);
    }
  }
}

.page.agenda{
  h1{ 
    margin-bottom: 30px;
  }
  .date{
    color: $almost-black;
    font-size: 12px;
  }
}



@media(min-width:576px){

}
@media(min-width:768px){
  .page {
    p, .headline, .page-title, .respect-margin{
      margin-right: $page-margin-right/5;
    }
  }
}
@media(min-width:992px){
  .page {
    p, .headline, .page-title, .respect-margin{
      margin-right: $page-margin-right;
    }
  }
}
@media(min-width:1200px){
  .page{
    p, .headline, .page-title, .respect-margin{
      margin-right: $page-margin-right*2;
    }
  }
}