$page-margin-right: 50px;

.page{
  
  min-height: 800px;
  padding: 70px 0px 30px;

  .wrapper{
    padding: 0 20px 0 40px;
  }

  h1{
    font-size: 35px;
    line-height: 50px;
    margin: 0px;
  }

  h2{
    font-size: 18px;
    margin: 50px 0 20px;
  }

  h3{
    margin-top: 30px;
    color: $dark-grey;
  }

  p{
    margin-top: 15px;
    color: $dark-grey;
    text-align: left;
    
  }
  a{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    color: $almost-black;
    // border-bottom: 1px solid $almost-black;
    text-decoration: none;
    background-color: $white;
    padding: 2px 3px;

    &:hover{
      background-color: $yellow;
      color: $almost-black;
    }
  }


  .anchor{
    position:absolute;
    top: -100px;
  }
  .table{
    h2{
      margin-top: 0;
      margin-bottom: 0;
      span{
        background-color: $white;
      }
    }
    h3{
      // font-family: "Lato", sans-serif;
      font-weight: normal;
    }

    
    th{
      min-height: 120px;
      vertical-align: middle;
    
      &.picture{
        width: 80px;
      }
    }

    div.cover{
      border-radius: 50%;
      height: 80px;
      width: 80px;
      box-shadow: 0px 0px 0px 2px $white;
    }

    h3.subheading{
      display: none;
    }
  }

  .item{
    margin-bottom: 30px;
    padding-bottom: 40px;
    padding-left: 0px;
    border-bottom: 1px solid $light-grey;
    position: relative;
  }

  blockquote.summary{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 2px solid $almost-black;
    padding-bottom: 15px;
  }

  section{
    margin-bottom: 50px;
    border-bottom: 50px solid $white;
    &.last{
      border-bottom-width: 0;
      margin-bottom: 0;
    }
  }

  .headline {
    font-family: "Lato", sans-serif;
    // border-top: 1px solid $almost-black;
    border-bottom: 1px solid $almost-black;
    padding: 0px 0 15px;
    
    h2{
      font-size: 25px;
      margin: 0;
      line-height: 40px;
      > span {
        background-color: $white;
      }
    }

    img{
      width: 100%;
      max-width: 300px;
      margin-bottom: 10px;
      box-shadow: 0px 2px 8px fade-out($light-grey, .6);
    }
  }

  &.collage{
    section{
      border-bottom-width: 2px;
      padding-bottom: 50px;

      &.last{
        border-bottom-width: 0;
      }
    }
  }
}

div.cover{
  width: 100%;
  height: 100%;
  background-size: cover; 

}

.page.blog{
  .incipit{
    float: left;
  }
  .item h2 a{
    text-transform: none;
    font-family: "Georgia", serif;
        font-size: 100%;
  }
}

.page.agenda{
  h1{ 
    margin-bottom: 30px;
  }
  .date{
    color: $almost-black;
    font-size: 12px;
  }
}

.tag{
  display: inline-block;
  line-height: 17px;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: $white;
    background-color: $dark-grey;
    padding: 0 6px;
}

.thumbnails{
  border-bottom: 1px solid $light-grey;
  margin-bottom: 20px;

  > h3{
    margin-top: 0px;
    margin-bottom: 15px;
    
  }

  > a.thumbnail{
    margin-right: 10px;
    width: 90px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: initial;
    background: transparent;
    color: $dark-grey;
    &:hover{
      background: transparent;
      h4{
        text-decoration: underline;
      }
      > .picture > .cover{
        box-shadow: 0px 0px 0px 2px $almost-black;
      }
    }
    > .picture{
      width: 60px;
      margin: 0px auto;
      > .cover{
        border-radius: 50%;
        box-shadow: 0px 0px 0px 2px $white;
        width: 60px;
        height: 60px;
        transition: box-shadow .3s ease-in-out;
      }
    }

    > h4 {
      font-size: 11px;
      line-height: 14px;
      margin: 10px 0;
      font-family: 'Libre Caslon Bold', serif;
      > span{
      background-color: $white;
      
      }
    }
  }
}


@media(min-width:768px){
  .page {

    padding-top: 30px;
    h1{
      // font-size: 50px;
      font-size: 30px;
      // line-height: 70px;
      line-height: 50px;
      // margin-top: 18px;
      // margin-bottom: 20px;
      margin-top: 50px;
      margin-bottom: 0px;
    }

    .wrapper{
      padding: 0 50px;
    
    }
    .headline h2{
      font-size: 20px;
      line-height: 35px;
      // font-size: 30px;
      margin: 5px 0 5px;
      // line-height: 50px;
    }

    

    p, .headline, .page-title, .respect-margin{
      margin-right: $page-margin-right/5;
    }

    .item{
      padding-left: 0px;

      p{
        margin-right: 0;
      }
      > h3{
        display: none;
      }
    }

    .table {
      th.picture{
        width: 150px;

        .cover{
          width: 120px;
          height: 120px;
        }
      }
      
      h3.subheading{
        display: block;
        margin-top: 0px;
        color: $medium-grey;
        font-weight: bold;
      }
    }


  }
}
@media(min-width:992px){
  .page {
    p, .headline, .page-title, .respect-margin{
      margin-right: $page-margin-right;
    }
    .anchor{
      top: -20px;
    }
  }
}
@media(min-width:1200px){
  .page{
    p, .headline, .page-title, .respect-margin{
      margin-right: $page-margin-right*2;
    }
  }
}