---
layout: default
---

{% assign sections = site.pages | where: 'group', page.group | where: 'lang', page.lang | where: 'type', 'section' %}

<div class="page collage">
  <div class="wrapper">
    <h1 class="page-title">{{ page.title }}</h1>
  </div>

  {% for section in sections %}
  <div {% if page.lang == site.lang %} id='{{sectionid[2]}}' {% else %} id='{{sectionid[3]}}' {% endif %}></div>
        
  <section >
      <div class="wrapper">
        <div class="headline">
          <h2><span> {{ section.title }}</span></h2>
        </div>
        {% assign paragraphs = section.content | split: site.excerpt_separator %}
        <blockquote class='summary respect-margin'>{{paragraphs[0]}}</blockquote>
        {% assign remaining_paragraphs = paragraphs | shift %}
        
        <div class='contents'>
          {% for paragraph in remaining_paragraphs %}{{paragraph}}  {% endfor %}

        </div>
    </div>
  </section>

  {% endfor %}

  <section class='last'>
      {% assign nav = site.data.navigation.languages[lang] | default: site.data.navigation.languages.en %}
    
      {% assign parent = nav.links | where: 'url', page.parenturl %}
      
      <div class="wrapper">
        <div class="headline">
        <h2><span>see also</span></h2>
      </div>
      <blockquote class='summary respect-margin'>
        {% assign siblings = parent[0].links | where_exp:"link", "link.url != page.permalink" %}
        {% for sibling in siblings %}
        <a href='{{sibling.url  | relative_url }}'>{{sibling.title}}</a> 
          {% unless forloop.last %} &mdash; {% endunless %}
      {% endfor %}

      </blockquote>
      
      </div>
    </section>
  
  <div class='text-center'> - </div>
</div>
