---
layout: default
---

{% assign nav = site.data.navigation.languages[lang] | default: site.data.navigation.languages.en %}

      {% assign parent = nav.links | where: 'url', page.parenturl %}

      {% assign siblings = parent[0].links | where_exp:"link", "link.url != page.permalink" %}

<div class="page">
  <div class="wrapper">
    <h1 class="page-title">{{ page.title }}</h1>
  </div>

  <section>
    <div class="wrapper">
      <div class="headline">
        <!-- <h2>See also:
        {% for sibling in siblings %}
        <a href='{{sibling.url  | relative_url }}'>{{sibling.title}}</a>
          {% unless forloop.last %} &mdash; {% endunless %}
      {% endfor %}</h2> -->
      </div>
      <blockquote class='summary respect-margin'>{{page.content | markdownify}}</blockquote>
      {% if page.nolang == '/consortium/people/' %}
        {% assign group = site.people | where: 'group','contact-point' | sort: 'ordering' %}
        <div class='thumbnails respect-margin'>
          <h3 ><span class='tag'>contact points</span></h3>
          {% for person in group %}
           {% include person.thumbnail.html %}
          {% endfor %}
        </div>

        {% assign group = site.people | where: 'group','collaborator' | sort: 'ordering' %}
        <div class='thumbnails respect-margin'>
          <h3><span class='tag'>collaborators</span></h3>
          {% for person in group %}
          {% include person.thumbnail.html %}
          {% endfor %}
        </div>



        {% assign group = site.people | where: 'group','supervisor' | sort: 'ordering' %}
        <div class='thumbnails respect-margin'>
          <h3><span class='tag'>supervisors</span></h3>
          {% for person in group %}
          {% include person.thumbnail.html %}
          {% endfor %}
        </div>

        {% assign group = site.people | where: 'group','historian' | where: 'status', 'publish' | sort: 'ordering' %}
        <div class='thumbnails respect-margin'>
          <h3><span class='tag'>{% assign key="historian" %}{% include t.html %}</span></h3>
          {% for person in group %}
          {% include person.thumbnail.html %}
          {% endfor %}
        </div>

        {% assign group = site.people | where: 'group','contributor' | where: 'status', 'publish' | sort: 'ordering' %}
        <div class='thumbnails respect-margin'>
          <h3><span class='tag'>{% assign key="contributors" %}{% include t.html %}</span></h3>
          {% for person in group %}
          {% include person.thumbnail.html %}
          {% endfor %}
        </div>




        {% assign team = site.people | where: 'category','team' | sort: 'ordering' %}
        <div class="respect-margin">
        <!-- <div class="container-fluid "> -->
          <!-- <div class='row'> -->
            {% for person in team %}
            <!-- <div class='col-lg-6'> -->
              {% include person.html %}
            <!-- </div> -->
            {% endfor %}
          <!-- </div> -->
        </div>
      {% endif %}

      {% if page.nolang == '/consortium/partners/' %}

        {% assign partners = site.partners | where: 'category','core-partner' | sort: 'ordering' %}
        {% for partner in partners %}
          {% include partner.html %}
        {% endfor %}
      {% endif %}

      {% if page.nolang == '/consortium/associated-partners/' %}

        {% assign partners = site.partners | where: 'category','associated-partner' | sort: 'ordering' %}
        {% for partner in partners %}
          {% include partner.html %}
        {% endfor %}
      {% endif %}



      {% if page.nolang == '/consortium/friends/' %}
        {% assign friends = site.people | where: 'category','friend' | sort: 'ordering' %}
        {% for person in friends %}
          {% include person.html %}
        {% endfor %}
      {%endif%}
      </div>



    </section>

    <section class='last'>
      <div class="wrapper">
        <div class="headline">
        <h2><span>see also</span></h2>
      </div>
      <blockquote class='summary respect-margin'>
        {% assign siblings = parent[0].links | where_exp:"link", "link.url != page.permalink" %}
        {% for sibling in siblings %}
        <a href='{{sibling.url  | relative_url }}'>{{sibling.title}}</a>
          {% unless forloop.last %} &mdash; {% endunless %}
      {% endfor %}

      </blockquote>

      </div>
    </section>

</div>
