---
layout: page
---

{% assign sections = site.pages | where: 'parenturl','/consortium/' | where: 'lang', page.lang | sort: 'ordering' %}


<div class="page">


  {% for section in sections %}
  {% if section.permalink != section.parenturl %}
  {% assign sectionid = section.permalink | split: '/' %}


  <section {% if forloop.last %} class='last' {%endif%}>
    <div class='anchor' {% if page.lang == site.lang %} id='{{sectionid[2]}}' {% else %} id='{{sectionid[3]}}' {% endif %}></div>

    <div class="wrapper">
      <div class="headline">
        <h2><span>{{ section.title }}</span></h2>
      </div>
      <blockquote class='summary respect-margin'>{{section.content | markdownify}}</blockquote>

      {% if section.nolang == '/consortium/people/' %}
        {% assign group = site.people | where: 'group','contact-point' | sort: 'ordering' %}
        <div class='thumbnails respect-margin'>
          <h3 ><span class='tag'>contact points</span></h3>
          {% for person in group %}
           {% include person.thumbnail.html %}
          {% endfor %}
        </div>

        {% assign group = site.people | where: 'group','collaborator' | sort: 'ordering' %}
        <div class='thumbnails respect-margin'>
          <h3><span class='tag'>collaborators</span></h3>
          {% for person in group %}
          {% include person.thumbnail.html %}
          {% endfor %}
        </div>



        {% assign group = site.people | where: 'group','advisor' | sort: 'ordering' %}
        <div class='thumbnails respect-margin'>
          <h3><span class='tag'>advisors</span></h3>
          {% for person in group %}
          {% include person.thumbnail.html %}
          {% endfor %}
        </div>


        {% assign group = site.people | where: 'group','friend' | sort: 'ordering' %}
        <div class='thumbnails respect-margin'>
          <h3><span class='tag'>{% assign key="contributors" %}{% include t.html %}</span></h3>
          {% for person in group %}
          {% include person.thumbnail.html %}
          {% endfor %}
        </div>

        {% assign group = site.people | where: 'group','former-collaborator' | sort: 'ordering' %}
        <div class='thumbnails respect-margin'>
          <h3><span class='tag'>{% assign key="former contributors" %}{% include t.html %}</span></h3>
          {% for person in group %}
          {% include person.thumbnail.html %}
          {% endfor %}
        </div>
        
        {% assign team = site.people | where: 'category','team' | sort: 'ordering' %}
        <div class="respect-margin">
        <!-- <div class="container-fluid "> -->
          <!-- <div class='row'> -->
            {% for person in team %}
            <!-- <div class='col-lg-6'> -->
              {% include person.html %}
            <!-- </div> -->
            {% endfor %}
          <!-- </div> -->
        </div>
      {% endif %}



      {% if section.nolang == '/consortium/partners/' %}

        {% assign partners = site.partners | where: 'category','core-partner' | sort: 'ordering' %}
        {% for partner in partners %}
          {% include partner.html %}
        {% endfor %}
      {% endif %}

      {% if section.nolang == '/consortium/associated-partners/' %}

        {% assign partners = site.partners | where: 'category','associated-partner' | sort: 'ordering' %}
        {% for partner in partners %}
          {% include partner.html %}
        {% endfor %}
      {% endif %}



      {% if section.nolang == '/consortium/friends/' %}
        {% assign friends = site.people | where: 'category','friend' | sort: 'ordering' %}
        {% for person in friends %}
          {% include person.html %}
        {% endfor %}
      {%endif%}
    </div>
  </section>
  {%endif%}
  <pre class="test">section.nolang = {{ section.nolang }}</pre>
  {% endfor %}

  <div class='text-center'> - </div>
</div>
