<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang }}'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">

    
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/impresso-favicon32x32.png' }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/favicon/impresso-favicon96x96.png' }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/impresso-favicon16x16.png' }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">


    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  <body>
    
    {% assign lang = page.lang | default: site.lang %}
    {% assign nav = site.data.navigation.languages[lang] | default: site.data.navigation.languages.en %}
    
    
    <div id='wrapper'>

        <aside id="main">
        
        <div class="inner">
          <a id="logo" {% if page.lang != "en" %} href="/{{page.lang}}" {% else %} href="/"{% endif %}>
        <img src="{{ '/assets/images/logo.png' | relative_url }}" >
          </a>
        <section>
        
        <ul id="language-switcher">
          
          {% for language in site.languages %}
          
          <li {% if lang==language %} class="active" {% endif %}>
            <a {% if language==site.lang %} href='{{page.nolang}}' {% else %} href='/{{language}}{{page.nolang}}' {% endif %}>{{language}}</a>
          </li>
          {% endfor %}
        </ul>
        <ul>
          {% for item in nav.links %}
          <li {% if page.url == item.url %} class="active" {% else %} {% if item.url == page.parenturl %} class="active" {% endif %} {% endif %}>
            
            {% if item.links %}
            <span class='collapsible-toggler {% if item.url == page.parenturl %} force-active active {% endif %}'>{{item.title}} {% include plus.html %}</span>
            <div class='collapsible {% if item.url == page.parenturl %} force-active active {% endif %}'>
              <ul>
                {% for subitem in item.links %}
                <li {% if page.url == subitem.url %} class="active" {% endif %} >
                  
                  <a href="{{subitem.url | relative_url}}">{{subitem.title}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% else %}
            <a href="{{item.url}}">{{item.title}}</a>  
            
            {% endif %}
          </li>

          {% endfor %}
          
          <li>
            <table>
              <tr>
                <th>
                  <a href='#' title='email' target='_blank'><span class='icon icon-envelope-letter'></span></a>
                </th>
                <th>
                  <a href='{{site.contacts.twitter}}' title='our twitter account' target='_blank'><span class='icon icon-social-twitter'></span></a>
                </th>
                <th>
                  <a href='{{site.contacts.twitter}}' title='our github account' target='_blank'><span class='icon icon-social-github'></span></a>
                </th>
              </tr>
            </table>

          </li>  
        </ul>
        

        </section>
        

        <!-- <section>
          <label {% if currentpath == '.agenda' or current[1] == 'agenda' %} class="active" {% endif %}><a href="/agenda">Agenda</a></label>  
          <div class="line"></div>
          <ul style="margin-top: 40px">
            {% for post in site.agenda limit:1 %}
              <li>
              <article>
                <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
                <blockquote>
                  <div class="date">{{post.date | date: "%a<br/> %d.%m %Y"}}</div>
                  {{post.excerpt}}
                </blockquote>
              </article>
              </li>
            {% endfor %}
          </ul>
        </section> -->

        

        
        </div>
        </aside>
        
        <div id="contents">
          {{content}}
        </div>

        {% include timeline.html %}
    </div>


    <div id='floating-line'></div>
    {% include footer.html %}

    <!-- scripts -->
    <script type='text/javascript' src='https://d3js.org/d3.v4.min.js'></script>

    {% include timeline.runtime.html %}
    
    <script>
      d3.selectAll('.collapsible-toggler').on('click', function(){ 
        var s  = this.nextElementSibling,
            c  = s.firstElementChild,
            h  = c.scrollHeight,
            _s = d3.select(s),
            
            is_active  = _s.classed('active'),
            is_locked = _s.classed('force-active');

        if(is_locked){
          // do nothing...
          return;
          // recalculate height
          _s.style('height', h + 'px');
          
        }
        // debugger
        console.log('.collapsible-toggler@click height:', h, is_active)
        
        d3.select(this).classed('active', !is_active);

        _s
          .classed('active', !is_active)
          .style('height', (is_active? 0:h)+'px');
        // this.classname
        // this.nextElementSibling.style.height = h + "px"
      });
    </script>

    <script>
      // on window scroll, mimic the sticky position
      // When floating-line is visible, the `position` css value of sidebar (timeline and menu)
      // change from fixed to absolute, bottom aligned.
      // same thing should happen when the window is resized.
      var _floating_line = document.getElementById('floating-line'),
          _body          = d3.select('body'),
          w_height       = window.innerHeight,

          _menu          = d3.select('#main').style('height', (window.innerHeight - 100)+'px'),
          
          is_below_floating_line = false;
      
      function evaluateFloatingLine() {
        var bottom = window.scrollY + w_height;
        
        if(is_below_floating_line && _floating_line.offsetTop > bottom) {
          // deactivate, put back sidebar on fixed;
          is_below_floating_line = false;
          _body.classed('below-floating', false);
        } else if(!is_below_floating_line && _floating_line.offsetTop <= bottom){
          // activate
          is_below_floating_line = true;
          _body.classed('below-floating', true);
        }
        console.log('is_below_floating_line:', is_below_floating_line, _floating_line.offsetTop, bottom);
      }

      function onResize() {
        w_height = window.innerHeight;
        evaluateFloatingLine();
      }

      d3.select(window)
        .on("scroll.scroller", evaluateFloatingLine)
        .on("resize", onResize);

      evaluateFloatingLine();
    </script>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>