<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang }}'>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{page.title}} · {% endif %}{{site.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">


    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/impresso-favicon32x32.png' }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/favicon/impresso-favicon96x96.png' }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/impresso-favicon16x16.png' }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- dublin core zotero metadata -->
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
    {% if page.title %}
    <meta name="DC.title" content="{{page.title}}">
    {% endif %}
    {% if page.layout == "post" %}
    <meta name="DC.type" content="Blogpost">
    {% endif %}
    {% if page.authors %}
      {% for authorid in page.authors %}
      {% assign author= site.people | where: "slug", authorid | first %}
    <meta name="DC.creator" content="{{author.lastname}}, {{author.firstname}}">
      {% endfor %}
    {% else %}
    <meta name="DC.creator" content="{{ site.publisher.name }}">
    {% endif %}
    <meta name="DCTERMS.issued" content="{{page.date | date: '%Y-%m-%d'}}">
    <meta name="DCTERMS.publisher" content="{{ site.publisher.name }}">
    <!-- eof dublin core zotero metadata -->

    <!-- Open Graph metadata -->
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:url" content="{{page.permalink}}" />

    {% if page.layout == "post" %}
    <meta property="og:type" content="article" />
    <meta property="og:article:published_time" content="{{page.date}}" />
    {% endif %}

    {% if thumbnail %}        assign thumb = thumbnail.src      {% endif %}
    {% if page.figure[0] %}   assign thumb = page.figure[0].src {% endif %}
    {% if thumb %}<meta property="og:image" content="{{ thumb }}" />{% endif %}

    <!-- eof dublin core zotero metadata -->

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>

    {% assign lang = page.lang | default: site.lang %}
    {% assign nav = site.data.navigation.languages[lang] | default: site.data.navigation.languages.en %}


    <div id='wrapper'>

      <div id='mobile-header' >
        <div class='inner'>{% include nav.html %}</div>
        <a  {% if page.lang != "en" %} href="/{{page.lang}}" {% else %} href="/"{% endif %}><img class='brand' src="{{ '/assets/images/logo-mobile.png' | relative_url }}"></a>
        <div id='mobile-header-toggler' >
          menu
          <div>
            <span class='a'></span>
            <span class='b'></span>
            <span class='c'></span>
            <span class='d'></span>

          </div>
        </div>

      </div>


        <aside id="main" class='fixed'>

        <div class="inner">
          <a id="logo" {% if page.lang != "en" %} href="/{{page.lang}}" {% else %} href="/"{% endif %}>
        <img src="{{ '/assets/images/logo.png' | relative_url }}" >
          </a>
        <section>

        <!-- @todo: relate to the page siblings (available languages page based) -->
        <!-- <ul id="language-switcher">

          {% for language in site.languages %}

          <li {% if lang==language %} class="active" {% endif %}>
            <a {% if language==site.lang %} href='{{page.nolang}}' {% else %} href='/{{language}}{{page.nolang}}' {% endif %}>{{language}}</a>
          </li>
          {% endfor %}
        </ul> -->

        {% include nav.html %}

        </section>


        <!-- <section>
          <label {% if currentpath == '.agenda' or current[1] == 'agenda' %} class="active" {% endif %}><a href="/agenda">Agenda</a></label>
          <div class="line"></div>
          <ul style="margin-top: 40px">
            {% for post in site.agenda limit:1 %}
              <li>
              <article>
                <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
                <blockquote>
                  <div class="date">{{post.date | date: "%a<br/> %d.%m %Y"}}</div>
                  {{post.excerpt}}
                </blockquote>
              </article>
              </li>
            {% endfor %}
          </ul>
        </section> -->




        </div>
        </aside>

        <div id="contents">
          {{content}}
        </div>


        {% include timeline.html %}
    </div>


    <div id='floating-line'></div>
    {% include footer.html %}

    <!-- scripts -->
    <script type='text/javascript' src='https://d3js.org/d3.v4.min.js'></script>
    <script>
      var _floating_line,
          isBelowFloatingLine = false,
          _body,
          _window = d3.select(window),
          _contents,
          _menu,

          _mobileHeader,
          isMobileHeaderActive = false,

          menuHeight,
          contentsHeight;

      function evaluateFloatingLine() {
        var bottom = window.scrollY + window.innerHeight;
        console.log('evaluateFloatingLine\n scrolly:', window.scrollY, '\n floating:', _floating_line.offsetTop, '\n contentsheight:', contentsHeight, '\n bottom:', bottom, isBelowFloatingLine)

        if(window.scrollY == 0){
          if(isBelowFloatingLine) {
            isBelowFloatingLine = false;
            _body.classed('below-floating', false);
          }
        } else if(isBelowFloatingLine && _floating_line.offsetTop > bottom) {
          // floating line is not visible yet
          // we put sidebar on fixed;
          isBelowFloatingLine = false;
          _body.classed('below-floating', false);
        } else if(!isBelowFloatingLine && window.scrollY > 0 && _floating_line.offsetTop <= bottom){
          // activate
          isBelowFloatingLine = true;
          _body.classed('below-floating', true);
          // set correctly
        }
        // console.log('isBelowFloatingLine:', isBelowFloatingLine, _floating_line.offsetTop, bottom);
      }


      // onclick
      function almostObfuscatedEmail(el){
        el.href = 'mailto:' + '{{site.contacts.email}}'.replace(/\s+@\s+/, '@').replace(/\s+\[dot\]\s+/,'.');

      }



      // get all the a on document loadedd.
      document.addEventListener("DOMContentLoaded", function(e) {
        console.log('@DOMContentLoaded');
        // on window scroll, mimic the sticky position
        // When floating-line is visible, the `position` css value of sidebar (timeline and menu)
        // change from fixed to absolute, bottom aligned.
        // same thing should happen when the window is resized.
        _floating_line = document.getElementById('floating-line');
        _body          = d3.select('body');


        // collapsible menu maximum height
        _menu             = d3.select('#main'), // .style('height', (window.innerHeight - 100)+'px'),
        _contents         = d3.select('#contents'),

        menuHeight        = _menu.node().getBoundingClientRect().height;
        contentsHeight    = _contents.node().getBoundingClientRect().height;

        _mobileHeader     = d3.select('#mobile-header');

        console.log('[menu] height before being hiddden:', menuHeight, contentsHeight)

        // define behaviour for collapsible menu, then calculate the menu desired height based on inner menus.
        d3.selectAll('.collapsible-toggler').each(function(){
          console.log('collapsible-toggler', this.className)
          menuHeight = menuHeight
            + this.nextElementSibling.firstElementChild.scrollHeight;
        }).on('click', function(){
          var s  = this.nextElementSibling,
              c  = s.firstElementChild,
              h  = c.scrollHeight,
              _s = d3.select(s),

              is_active  = _s.classed('active'),
              is_locked = _s.classed('force-active');

          if(is_locked){
            // do nothing...
            return;
          }
          // debugger
          console.log('.collapsible-toggler@click height:', h, is_active)

          d3.select(this).classed('active', !is_active);

          _s
            .classed('active', !is_active)
            .style('height', (is_active? 0:h)+'px');
          // this.classname
          // this.nextElementSibling.style.height = h + "px"
        });

        console.log('[menu] height:', menuHeight)

        // resize the height so that it works



        d3.select('#mobile-header-toggler')
          .on("click", function(){
            isMobileHeaderActive = !isMobileHeaderActive;
            _mobileHeader.classed('active', isMobileHeaderActive)
          })

        // add window listeners.
        _window
          .on("scroll.scroller", evaluateFloatingLine)
          .on("resize", evaluateFloatingLine);

        // do first evaluation.
        evaluateFloatingLine();
      });
    </script>

    {% include timeline.runtime.html %}



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115750203-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115750203-1');
    </script>


  </body>
</html>
