---
layout: default
---

<div class="page glossary">
  <div class="wrapper">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class='category'><a href='/glossary'>Glossary</a></div>
    <div class='date'>{{page.date | date: "%a, %d.%m %Y"}}</div>

  </div>
  <section class='last'>
  <div class="wrapper">
    <div class="headline"></div>
    <blockquote class='summary respect-margin'>{{page.content}}</blockquote>
    {% for glossaryItem in site.glossary %}
    {% include glossary.html %}
    {% endfor %}
  </div>
  </section>

</div>
