---
layout: default
---
{% assign showReleases = false %}
{% assign showAnnoucements =  true %}

<main class="Page container-fluid g-0 d-flex flex-column">
  <button
    onclick="toggleMenuClass()"
    type="button"
    class="position-fixed mt-2 me-2 btn btn-simple"
    id="MenuToggler"
    aria-label="toggle website menu"
  >
    <span class="icon-container">
      <span class="menu-bar"></span>
      <span class="menu-bar"></span>
      <span class="menu-bar"></span>
    </span>
  </button>
  <div class="row g-0">
    <div
      class="col-lg-6 offset-lg-3 col-xl-7 offset-xl-2 col-md-9 offset-md-3 g-0"
    >
      <h1 class="m-3 m-lg-5 main-title">
        {{page.title}} &mdash; <em>{{page.subheading}}</em>
      </h1>
      <section class="m-3 m-lg-5 display-6">{{content}}</section>

      <section
        class="m-3 m-lg-5 d-flex flex-wrap"
        role="navigation"
        aria-label="the two highlighted impresso apps"
      >
        <a
          href="/app"
          class="btn btn-primary btn-lg small-caps d-flex align-items-center my-2"
        >
          <span>go to <b>Impresso app</b></span>
          <span class="ms-2 icon-container">
            {% include icons/arrow-right.svg %}</span
          >
        </a>
        &nbsp;
          <a
          href="/datalab"
          class="btn btn-primary btn-lg small-caps d-flex align-items-center my-2"
        >
          <span>go to <b>Impresso data lab</b></span>
          <span class="ms-2 icon-container">
            {% include icons/arrow-right.svg %}</span
          >
        </a>
         
      </section>
    </div>
    <div class="col-md-9 offset-md-3 col-lg-3 offset-lg-0 g-0 pt-3 pt-lg-5">
      {% if showReleases %}
      <section class="pb-3 ps-3 pe-3 pe-lg-5" style="min-height: 50%">
        <h3 class="small-caps fw-bold mb-3">Releases</h3>
        {% assign release = site.releases | last %} {% include release.html %}
      </section>
      {% endif %}
      {% if showAnnoucements %}
      <section class="py-3 ps-3 pe-3 pe-lg-5">
        <h3 class="small-caps fw-bold mb-3">Announcements</h3>
        {% assign announcement = site.announcements | last %} {% include
        announcement.html %}
      </section>
      {% endif %}
    </div>
  </div>
  <div class="row g-0 d-none d-md-flex">
    <div
      class="col-lg-9 offset-lg-3 col-md-9 offset-md-3 g-0 col-xl-10 offset-xl-2"
    >
      <div class="mx-5">{% include timeline.html %}</div>
    </div>
  </div>
  <div
    class="row g-0 position-sticky top-0"
    style="z-index: var(--z-index-blogpost-sticky)"
  >
    <div class="{{site.theme_bootstrap_layout.main}}">
      <div class="d-flex align-items-center mx-3 mx-lg-5 bg-light">
        <h3
          class="flex-shrink-1 small-caps fw-bold mb-0 me-2"
          style="white-space: nowrap"
        >
          Blog posts
        </h3>
        <hr class="flex-grow-1" />
      </div>
    </div>
  </div>
  <div class="row g-0 flex-grow-1">
    <div class="{{site.theme_bootstrap_layout.main}}">
      <div class="row g-0 mx-3 mx-lg-5">
        {% assign posts=site.posts | where: "status", "published" | sort: "date"
        | reverse | slice: 0, 2 %} {% for post in posts %}
        <div class="col-lg-6 py-3">{% include post.html %}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
