---
layout: default
---

<main class="container-fluid g-0 d-flex flex-column h-100">
  <div class="row g-0">
    <div class="col-7 offset-2 g-0">
      <h1 class="m-5">{{page.title}}</h1>
      <h2 class="m-5">{{page.subheading}}</h2>
    </div>
    <div class="col-3 g-0 border-start border-dark">right</div>
  </div>
  <div class="row g-0">
    <div class="col-10 offset-2 g-0 border-bottom border-top border-dark">
      <ul class="nav mx-4 px-3">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row g-0 flex-grow-1">
    <div class="col-10 offset-2">
      <section class="p-5">{{content}}</section>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-10 offset-2 g-0 border-top border-dark">
      <section class="p-5">footer</section>
    </div>
  </div>
</main>
