---
layout: default
---

<div class="page index">
  <div class="wrapper">
    <h1 class="page-title">{{page.title}}</h1>

    <div class="headline">
      <h2><span>{{page.subheading}}</span></h2>
    </div>
    <blockquote class="summary respect-margin">
      {{page.paragraphs.summary}}
    </blockquote>
    <!-- <div class="headline" style='border-top-width: 0'>
      <div class='container-fluid pl-0 pr-0'>
        <div class='row no-gutters' >
          <div class='col sm-6 align-self-center'>
            <div class="card card-block text-center">
              <a style='background: transparent' href='#' data-time-point='@next'>
                <img src="{{ '/assets/images/timeline.gif' | relative_url }}">
                <br/>Explore Project Timeline
              </a>
            </div>
          </div>

          <div class='col sm-6 align-self-center'>
            <div class="card card-block text-justify">
              {{page.paragraphs.headline}}

            </div>
          </div>

        </div>
      </div>

    </div> -->
    <!--  How can newspapers help understanding the past?<br/> How to explore them? -->
     <!--<div class="headline"><span>Mining 200 years of historical newspapers</span></div>-->
    <div class='contents'>{{page.content}}</div>

    <figure class='respect-margin'>
      <img class='cover' src='{{ site.url }}{{page.figure.link}}'>
      <figcaption class="wrapper">
          <p>{{page.figure.caption}} (<a href='{{page.figure.link}}' target='_blank'>source</a>)</p>
      </figcaption>
    </figure>

  </div>


</div>
