---
layout: default
---
{% assign h2_level = "<h2" %}
{% assign sections = page.content | markdownify | split: h2_level %}


<style>
  .Page__contents h2,
  .Page__contents h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .Page__contents section.Page__subheading > p:first-of-type {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .Page__contents section > p:last-of-type {
    margin-bottom: 0;
  }
</style>
<main class="Page container-fluid g-0 d-flex flex-column">
  <div class="row g-0">
    <div class="{{ site.theme_bootstrap_layout.main }}">
      <h1 class="m-5">{{page.title}}</h1>
      <h2 class="m-5">{{page.subheading}}</h2>
    </div>
  </div>

  <div class="Page__contents row g-0 flex-grow-1">
    <div class="{{ site.theme_bootstrap_layout.main }}">
      {% if page.layout == 'page' %}
        {% for section in sections %}
          {% if forloop.first == true %}
            <section class="px-5 pt-5 Page__subheading">
              {{ section }}
            </section>
          {% else %}
            <section class="px-5 pt-5">
            {% assign section_heading =  section | markdownify | split: "/h2&gt;" |  first %}
            {% assign section_content = section | remove_first: section_heading %}
            
            <pre>{{section_heading | inspect}}</pre>
            </section>
          {% endif %}
        {% endfor %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </div>
  {% include seealso.html %}
</main>
