---
layout: page
---

<!-- <div class='categories'>{{page.categories}}</div> -->

{% assign paragraphs = page.content | split: site.excerpt_separator %}

<blockquote class="summary respect-margin">
  <div class="incipit">
    {{page.author}} {{page.date | date: "%a, %d.%m %Y"}} &mdash;&nbsp;
  </div>
  {{paragraphs[0]}}
</blockquote>
{% assign remaining_paragraphs = paragraphs | shift %}

<div class="contents">
  {% for paragraph in remaining_paragraphs %}
    {{paragraph}} 
  {% endfor %}
  {% include reference.html %}
  {% include copyright.html %}
</div>
